AUTH_DB_HOST=localhost
AUTH_DB_HOST_DOCKER=postgres
AUTH_DB_PORT=5432
AUTH_DB_NAME=authDB
AUTH_DB_USERNAME=postgres
AUTH_DB_PASSWORD=
JWT_SECRET=
AUTHSERVICE_INTERNAL_ENDPOINT_SECRET=
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
USERSERVICE_BASE_URL=http://localhost:8081
