spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST_DOCKER}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
      dialect: org.hibernate.dialect.PostgreSQLDialect
      default_schema: public
    show-sql: true
jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000
  refresh-expiration: 360000000
server:
  port: 8082
